.DS_Store
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/pivot*.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/codeStyles

/node_modules/
/coverage/
/build/
/dist/
/types/
/src/sql/parser/index.ts
/src/sql/parser/.DS_Store
CLAUDE.md

# TypeScript cache
*.tsbuildinfo
